body,
button,
input,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  /* font-family: Manrope, sans-serif;
  font-weight: var(--font-weight-default);
  line-height: var(--line-height-default); */
  list-style: none;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.capitalize {
  text-transform: capitalize;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img-gap {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}


@media (min-width: 1440px) {
    .container {
      max-width: 1200px;
      margin: 0 auto;
    }
}


.container {
  /* font-family: "Quicksand", sans-serif;
  background: url(../access/image/background-blue.png);
  background-repeat: no-repeat; */
  background: var(--color-border);
}