
.blog-cpn {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sub-title {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-default);
    line-height: var(--line-height-sm);
    color: var(--color-Cloud-Burst);
}

.title {
    font-size: var(--font-size-2xl);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-2xl);
    color: var(--color-Nero);
}