.btn-primary {
    padding: 8px 20px;
    border-radius: var(--border-radius-sm);
    border: 1px solid var(--color-primary);
    background: var(--color-primary);
    color: var(--color-white);
    font-weight: var(--font-weight-default);
    line-height: var(--line-height-sm);
    font-size: var(--font-size-sm);
    cursor: pointer;
    transition: 0.5s all ease;
}

.btn-primary:hover {
    background: transparent;
    color: var(--color-primary);
}