

.text-subtitle {
    font-size: var(--font-size-2xs);
    font-weight: var(--font-weight-default);
    line-height: var(--line-height-3xs);
    color: var(--color-light-gray);
}

.text-title {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-md);
    color: var(--color-black);
}