
.banner {
    display: flex;
    align-items: center;
    gap: 58px;
    padding: 56px;
}

.banner-content {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.banner-title {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-xl);
    color: var(--color-primary);
}

.banner-btn {
    display: flex;
    gap: 24px;
}

.btn-banner-right {
    background: transparent;
    color: var(--color-secondary);
}

.banner-img img{
    width: 490px;
    height: 640px;
    border-radius: var(--border-radius-xs);
}

.group-dot {
    display: flex;
    gap: 16px;
    align-items: center;
}

.icon-banner {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--color-icon);
}

.icon-banner:first-child {
    width: 24px;
    height: 24px;
    background: var(--color-text);
}