
.footer {
    padding: 72px 238px;
    background: var(--color-light-gray);
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.box-container {
    display: flex;
    justify-content: space-between;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.box-one {
    max-width: 198px;
}
.box-title {
    font-size: var(--font-size-2sm);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-2sm);
    color: var(--color-primary);
}

.box-link {
    font-size: var(--font-size-2xs);
    line-height: var(--line-height-3xs);
    font-weight: var(--font-weight-default);
    color: var(--color-border);
}

.copy-name {
    font-size: var(--font-size-4xs);
    font-weight: var(--font-weight-default);
    line-height: var(--line-height-default);
    color: var(--color-white-gray);
}