/* bases */
@import url(../style/bases/global.css);
@import url(../style/bases/reset.css);
@import url(../style/bases/typography.css);

/* abstracts */
@import url(./abstracts/variable.css);

/* components */
@import url(./components/button.css);
@import url(./components/text.css);
@import url(./components/image.css);
@import url(./components/card-list.css);

/* layout */
@import url(../style/layout/header.css);
/* @import url(../style/layout/); */

/* section */
@import url(../style/section/banner.css);
@import url(../style/section/features.css);
@import url(../style/section/card.css);

.container {
    width: 1440px;
    background: #9c8080;
    font-family: "Quicksand", sans-serif;
    background: #d8d4d4;
}